<mat-toolbar color="primary" class="mat-elevation-z6">
  
    <mat-toolbar-row>
      <span *ngIf="authService.isLoggedIn()" class="wrapper-welcome">WELCOME {{authService.currentUser().name}}</span>
      <span class="example-spacer"></span>
      <mat-icon *ngIf="authService.isLoggedIn()" matTooltip="Logout" matTooltipPosition="before" class="example-icon cursor-pointer" aria-hidden="false" (click)="logout()">exit_to_app</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-progress-bar *ngIf="authService.isProgress()" mode="indeterminate"></mat-progress-bar>

  <mat-progress-spinner *ngIf="authService.isLoading()" class="example-margin wrapped-loader" mode="indeterminate">
</mat-progress-spinner>