<div class="row wrapped-card justify-content-md-center align-items-center justify-content-center">
  <div class="col-md-10 col-10">
    <mat-card> 
          <div class="text-center wrapped-login-box">
            <span class="login-text color-black">REGISTER FOR NEWS</span> 
            <form class="example-form" [formGroup]='signipForm' #f="ngForm" (ngSubmit)="userRegistration(f.value)">
            <mat-form-field class="example-full-width col-md-12">
                <input matInput formControlName="name" type="text" placeholder="Name">
                <mat-error *ngIf="getrequired('name').touched && getrequired('name').invalid">
                <mat-error *ngIf="getrequired('name').errors.required">Name required
                </mat-error>
                </mat-error>
            </mat-form-field>
              <mat-form-field class="example-full-width col-md-12">
                  <input matInput formControlName="email" type="text" placeholder="Email">
                  <mat-error *ngIf="getrequired('email').touched && getrequired('email').invalid">
                  <mat-error *ngIf="getrequired('email').errors.required">Email required
                  </mat-error>
                  <mat-error *ngIf="getrequired('email').errors.email">
                    Please enter a valid email address
                  </mat-error>
                </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width col-md-12">
                  <input matInput
                    formControlName="password"
                    [type]="hide ? 'password' : 'text'"
                    placeholder="Password"
                    autocomplete="new-password"
                  >
                  <mat-icon matSuffix class="cursor-pointer" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error *ngIf="getrequired('password').touched && getrequired('password').invalid"> 
                    <mat-error *ngIf="getrequired('password').errors.required">Password required
                    </mat-error>
                    <mat-error *ngIf="getrequired('password').errors.minLength">Password should be 8 characters
                    </mat-error>
                  </mat-error>
                  </mat-form-field>
                  <mat-form-field class="example-full-width col-md-12" [ngClass]="{'margin-top-3vh': invalidPassword}">
                        <input matInput
                          formControlName="confirmpassword"
                          [type]="hideConfirm ? 'password' : 'text'"
                          placeholder="Confirm Password"
                          required
                        >
                        <mat-icon matSuffix class="cursor-pointer" (click)="hideConfirm = !hideConfirm">{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="getrequired('confirmpassword').touched && getrequired('confirmpassword').invalid"> 
                          <mat-error *ngIf="getrequired('confirmpassword').errors.required">Confirm Password required
                          </mat-error>
                        </mat-error>
                        </mat-form-field>
                  <div class="example-button-row">
                    <button mat-raised-button  color="primary" class="width-100 cursor-pointer margin-top-05rem margin-bottom-05rem" [disabled]="!signipForm.valid" cdkFocusInitial>Register</button>
                  </div>
                  <div *ngIf="registered">
                    <mat-label class="color-black">Registered successfully</mat-label> 
                    <mat-label class="cursor-pointer color-blue" [routerLink]="['/login']"> go to login page.
                    </mat-label> 
                </div>
                  <mat-error *ngIf="passwordNotMatch">Confirm Password not match
                    </mat-error>
                    <mat-error *ngIf="errorMessage">{{errorMessage}}
                      </mat-error>
                    
              </form>
                </div>
              </mat-card> 
    </div>

  </div>