    <div class="col-md-12"> 
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="News"> 
                <span *ngFor="let news of allNews">
                    <app-accordian-view [news]="news"></app-accordian-view>
                </span>
            </mat-tab>

            <mat-tab label="My News">
                <span *ngFor="let news of myNews">
                    <app-accordian-view [news]="news"></app-accordian-view>
                </span>   
            </mat-tab>

        <mat-tab label="Add News">
                <app-news-add></app-news-add>      
            </mat-tab>
        </mat-tab-group>

    </div>    